@import '../global/variables';
@import '../global/mixin';
@import '../global/extend';

.footer {
	border-top: 6px solid $bg-red;
	background-color: $secondary-color;
	color: $primary-color;

	.wrapper {
		padding: 5px 0;
		@include flex (flex,space-between,center);
		flex-wrap: wrap;
		@include media($large){
			width: 100%;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}
	}
	
	&__menu {
		&__item{
			a {
				margin: 10px;
				color: $light_black;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}