@import 'variables';
@import 'mixin';
@import 'extend';
/*=================================
  Header styling starts here
=================================*/
.header {
	background-color: $bg-primary;
	.wrapper {
		padding: 8px 0;
		@include media($large) {
			padding: 0;
		}
	}
	&__nav{
		width: 100%;
		&__hamburger{
			width: 40px;
			height: 40px;
			display: none;
			@include position(absolute,$top:7%,$right:5%);
			z-index: 10;
			@include media($large){
				display: block;
				&:hover ~ .header__nav__menu {
					display: flex;
				}
			}
			&__bar {
				@extend %text-indent;
			}
			&::before,
			&::after {
				content: '';
				width: 100%;
				height: 3px;
				@include position(absolute,$top:50%);
				@include transition(ease,.4s);
				background-color: $secondary-color;
			}
			&::before {
				@include translate(0,10px);
			}
			&::after {
				@include translate(0,-10px);
				box-shadow: 0 10px 0 $secondary-color;
			}
			&:hover::after {
				@include rotate(45);
				box-shadow: none;
			}
			
			&:hover::before {
				@include rotate(-45);
			}              
		}
		&__menu {
			@include flex(flex,space-around,center);
			@include media($large){
				width: 100%;
				padding: 40px 0;
				flex-direction: column;
				display: none;
				@include position(absolute,0,0);
				z-index: 5;
				background-color: $bg-primary;
				&__item {
					width: 100%;
					padding: 20px 0;
					text-align: center;
				}
			}
			a{
				color: #000;
				font-size: nth($font-medium,3);
				letter-spacing: 1px;
				@include transition(ease,.4s);
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
/*=================================
  Header styling ends here
=================================*/  