@import './variables';

//display
@mixin flex ($display,$justify,$align) {
	display:-webkit-box;
	display:-ms-flexbox;
	display:$display;
	-webkit-box-pack:$justify;
		-ms-flex-pack:$justify;
			justify-content:$justify;
	align-items:$align;     
	@content;
}

//postition
@mixin position ($position,$top:null,$right:null,$bottom:null,$left:null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	@content;
}

//transform
@mixin transform($transforms) {
	-moz-transform: $transforms;
	  -o-transform: $transforms;
	 -ms-transform: $transforms;
 -webkit-transform: $transforms;
	   transform: $transforms;
}
//translate
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}

// rotate
@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

//border
@mixin border($width, $style, $color) {
	border: $width $style $color;
}

@mixin border-second($direction, $width, $style, $color) {
	border-#{$direction}: $width $style $color;
}

//media
@mixin media ($width) {
	@media screen and (max-width:$width){
		@content;
	}
}

//transition
@mixin transition($property,$time) {
	-webkit-transition: $property $time;
	-o-transition: $property $time;
	transition: $property $time;
}

//shadow

@mixin shadow($x,$y,$blur) {
	box-shadow: $x $y $blur rgba(0,0,0,.2);
}

