//colors
$primary-color:#fff;
$secondary-color:#000;
$light-green:#3b8a9b;
$bg-hero:#BBBBBB;
$bg-red:#ff0000;
$border-color:#e1e1e1;

//fonts size
$font-medium:18px,21px,23px,25px;
$font-large:30px,32px,40px,50px;

//device screen width
$extra-large:1204px;
$large:995px;
$medium-device:768px;
$small-device:640px;
