//colors
$primary-color:#fff;
$secondary-color:#000;
$light-green:#3b8a9b;
$dark-green: #236573;
$bg-hero:#BBBBBB;
$bg-red:#ff0000;

//fonts size
$font-small:12px,13px,14px;
$font-medium:19px,20px,30px;

//device screen width
$extra-large:1204px;
$large:995px;
$medium-device:768px;
$small-device:640px;
