
@import '../global/reset';
/*==================
header section start here
====================*/
@import '../global/header';
/*==================
header section ends here
====================*/

/*==================
main section start here
===================*/
@import '../moduls/main';
/*==================
main section end here
===================*/

/*==================
footer section start here
===================*/
@import '../global/footer';
/*==================
footer section ends here
===================*/